*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-sarif;
}
.contanier{
    width: 100%;
    height: 100vh;
    background: url(about-bg.png);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contanier .login{
    width: 400px;
    height: 500px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.174);
    border: 3px solid white;
    backdrop-filter: blur(10px);
    padding: 65px 40px 40px;
    position: relative;
}
.login .user{
    width: 80px;
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
}
.login h1{
    color: #fff;
    font-size: 24px;
    text-align: center;
    padding-bottom: 20px;
}
.login form label{
    color: #fff;
    font-weight: bold;
}
.login form input{
    width: 100%;
    border: none;
    border-bottom: 3px solid black;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 17px;
    margin-bottom: 20px;
}
.login form button{
    color: black;
    font-weight: bold;
    font-size: 18px;
    background: #64ca45;;
    width: 100%;
    border-radius: 10px;
    outline: none;
    padding: 10px;
    border: 3px solid #000;
    margin-bottom: 20px;
    cursor: pointer;
}
.login .line-or{
    text-align: center;
    position: relative;
}
.login .line-or span{
    color: black;
    font-weight: bold;
}
.login .line-or span::after{
    content: '';
    position: absolute;
    width: 115px;
    height: 1px;
    background: #e8e8e8;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}
.login .line-or span::before{
    content: '';
    position: absolute;
    width: 115px;
    height: 1px;
    background: #e8e8e8;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}
.login .btns{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.login .btns .btn img{
    width: 155px;
    border-radius: 1px solid;
    border-radius: 5px;
}
.login .btns .btn img.fb{
    border-color: black;
}

.login .btns .btn img.google{
    background-color: white;
}
.login .signup{
    margin-top: 20px;
    font-size: 15px;
    color: #fff;
    text-align: center;
}
.login .signup a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}